<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>Greeter app</title>
  </head>
  <body>    
    <p>
      <% if @name.include?("<script>") %>
        Hi, nice try!
      <% else %>
        Hi <%= @name %>!
      <% end %>
    </p>
  </body>
</html>