<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Add an album</h1>
    <form action="/albums" method="POST">
      <label for="album title">Title</label>
      <input type="text" id="album_title" name="title">
      <label for="release year">Release year</label>
      <input type="number" id="release year" name="release_year">

      <input type="submit" value="Submit the form">
    </form>
  </body>
</html>